html {
    scroll-behavior: smooth;
  }
body{
    margin: 0px;
    padding: 0px;
    background-color: #e4cd78;
}
.navbar
{
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    background-color: black;
    z-index: 1000;
}
.navbar
{
    position: sticky;
    top: 0;
}
.logoI
{
    padding: 5px;
    border-radius: 50%;
}
.rintro
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #9f7741, #e4ce78, #946223);
    overflow: hidden;
}
.nvbrC
{
    padding: 10px;
}
.intro
{
    display: flex;
    text-align: center;
    background-color: #edebb9;
}
.lintro, .lreviews
{
    width: 50%;
}
.rintro, .rreviews
{
    width: 50%;
}
.twoCols{
    display: flex;
    text-align: center;
}
.navL
{
    padding: 0px;
}
.navL li
{
    display: inline;
}
.navL li a
{
    text-decoration: none;
    color: #956028;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}
.navL li a:hover
{
    color:#6b331e;
}
.rintro h1
{
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 20%;
    font-weight: 900;
    color: #5e2b19;
    display: block;
    padding: 20px;
    border: 1px solid #5e2b19;
}
.rintro h2
{
    font-size: 30px;
    color: #956028;
}
.titleD
{
    height: max-content;
    /* margin-top: auto;
    margin-bottom: auto; */
}
.specialities
{
    text-align: center;
}
.heading
{
    color: #5e2b19;
    padding-top: 0px;
    padding-right: 40px;
    font-size: 40px;
}
.shortD
{
    color: #956028;
    font-size: 20px;
    margin-bottom: 0px;
    padding-right: 40px;
}
.cardsW
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* flex-wrap: wrap; */
}
.cardsW img
{
    display: block;
    margin-bottom: 30px;
}
.card
{
    background-color: #fbfbfb;
    margin-left: 15px;
    margin-right: 15px;
    width: 270px;
    word-wrap: break-word;
}
.card h3
{
    font-size: 25px;
    font-weight: unset;
}
.Cend
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
}
.VNVo
{
    width: 20px;
    height: 20px;
    position: relative;
    border: 2px solid;
}
.VNVi
{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* background-color: red; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.nvego
{
    border-color: red;
}
.vego
{
    border-color: green;
}
.nvegi
{
    background-color: red;
}
.vegi
{
    background-color: green;
}
.add_butt
{
    border: 3px solid green;
    width: max-content;
    padding: 7px 15px;
    border-radius: 15px;
}
.addO
{
    display: flex;
    justify-content: center;
}
.Added_text
{
    display: none;
}
.card p
{
    padding: 0px 20px;
}
.add_butt:focus .Add_text
{
    display: none;
}
.add_butt:focus .Added_text
{
    display: block;
}
.add_butt:focus
{
    background-color: green;
    color: white;
}
.Add_text,.Added_text
{
    margin: 0px;
    padding: 0px;
}
.recommendations, .specialities, .reviews
{
    text-align: center;
    width: 80%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 80px; */
    margin: 80px auto;
}
.sDplusImg
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.rndUpi
{
    border-radius: 50%;
    border: 10px solid #aa844a;
    max-width: 199.2px;
    max-height: 199.2px;

}
.hpsD
{
    flex-grow: 1;
    text-align: justify;
    padding-left: 50px;
}
.searchbar
{
    font-size: 25px;
    border: none;
    border-width: 0px;
    border-color: transparent;
}
.searchbar:focus
{
    outline: none;
    
}
.searchIcon
{
  font-size: 23px;
}
.searchO
{
    padding: 5px 20px;
    border-radius: 25px;
    width: max-content;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.cardr
{
    background-color: white;
    display: flex;
    padding: 20px;
    margin: 20px;
}
.pimage
{
    text-transform: uppercase;
}
.reviewT
{
    flex-grow: 1;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}
.qmark
{
    font-size: 30px;
    color: gray;
}
.qmarkr
{
    margin-left: 90%;
}
.reviewT p
{
    padding: 0 40px;
}
textarea
{
    resize: none;
}
.war
{
    font-size: 32px;
    text-align: center;
}
/* form
{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
} */
.formF
{
    padding: 8px 10px;
    border: 1px solid #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    width: 100%;
}
.rreviews
{
    text-align: left;
    padding-left: 30px;
}
input[type="submit"]
{
    width: unset;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: #956028;
}
.FormL
{
    color: #956028;
    font-size: 20px;
}
footer
{
    background-color: black;
    padding-bottom: 20px;
}
.footer
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: black;
    justify-content: space-between;
    width: max-content;
}
.fftcu
{
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.socialicons i{
    color: white;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.socialicons
{
    display: flex;
    justify-content: center;
}
.policies 
{
    text-align: center;
    margin-top: 40px;
}
.pp, .cc{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}
#reviews, #recommendations, #specialities
{
    padding-top: 40px;
}

.drpdown{
    position: absolute;
    z-index: 1000;
    right: 6%;
    background-color: black;
    display: none;
}
.drpdown ul
{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    padding: 20px;
}
.drpdown a
{
    text-decoration: none;
    color: #e4ce78;
    font-size: 20px;
    padding: 10px;
}
.drpdown li
{
    padding: 10px;
}
input[type="checkbox"]
{
    position: absolute;
    top: 5px;
    right: 12px;
    width: 50px;
    height: 50px;
    -webkit-appearance: none;
    /* visibility: hidden; */
}
input[type="checkbox"]:checked + .drpdown
{
    display: block;
}
.HamIcon
{
    margin-top: 5px;
    margin-right: 5px;
    height: 50px;
    width: 50px;
    display: none;
    /* background-color: red;
    margin: 3px 3px 3px 4px;
    z-index: 500;
    position: absolute;
    top: 8px; */
}
.HamIcon .l
{
    border: 3px solid #e1ca75;
    border-radius: 2px;
    /* height: 2px; */
    margin-bottom: 8px;
}
@media (max-width: 1300px) {
    .coverImage
    {
        max-width: 100%;
    }
    
}
@media (max-width: 1200px) {
    .card img, .card
    {
        width: 240px;
    }
    .card
    {
        height: 480.65px;
    }
    .rflex
    {
        flex-direction: column;
    }
    .lreviews
    {
        width: 100%;
    }
    .rreviews
    {
        width: 100%;
        padding-left: 0px;
    }
    
}
@media (max-width: 1100px) {
    .card img, .card
    {
        width: 350px;
        height: auto;
    }
    .cardsW
    {
        flex-wrap: wrap;
    }
    .card{
        margin-bottom: 20px;
        margin-left: 25px;
        margin-right: 25px;
    }
    
}
@media (max-width: 1000px) {
    .card img, .card
    {
        width: 270px;
        height: auto;
    }
    
}
@media (max-width: 1050px)
{
    .theM{
        font-size: 50px !important;
    }
    .rndUpi
    {
        width: 140px;
        height: 140px;
    }
}
@media (max-width: 900px)
{
    .theM{
        font-size: 40px !important;
    }
    .rndUpi
    {
        display: none;
    }
}
@media (max-width: 800px) {

    .card{
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
}
@media (max-width: 750px)
{
    .lintro
    {
        display: none;
    }
    .rintro{
        flex-basis: 100%;
        height: 80vh;
    }
    .card img, .card
    {
        width: 240px;
        height: auto;
    }
}
@media (max-width: 675px)
{
    .card img, .card
    {
        width: 350px;
        height: auto;
    }
    .cardr{
        flex-direction: column;
    }
    .cardr h4
    {
        margin: 10px 0px; 
    }
    .pimage img{
        display: none;
    }
}
@media (max-width: 650px)
{
    /* hide navbar and use a hamburger menu */
    .HamIcon
    {
        display: block;
    }
    .navL
    {
        display: none;
    }
}
@media (max-width: 600px)
{
    .footerLogo{
        width: 100%;
    }
}

@media (max-width: 500px)
{
    .reviewT
    {
        padding: 0px 7px;
    }
    .cardr
    {
        padding: 10px;
        margin: 20px 0px;
    }
    .footerLogo
    {
        width: 450px;
    }
}

@media (max-width: 450px)
{
    .card img, .card
    {
        width: 270px;
        height: auto;
    }
    .footerLogo
    {
        width: 420px;
    }
    .hpsD
    {
        padding: 0px;
    }
}
@media (max-width: 417px)
{
    .footerLogo
    {
        width: 380px;
    }
}
