*{
    box-sizing: border-box;
}
body
{
    margin: 0px;
    padding: 0px;
    font-family: "Jost", sans-serif;
}
header{
    text-align: center;
    background-color: #446d76;
}
header h2{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 22px;
    padding-bottom: 22px;
    color: white
    font-weight: 900;
    font-size: 35px;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
}
.q
{
    line-height: 1.5;
    text-align: center;
    background-color: #45d2a7;
    font-size: 30px;
    font-weight: 600;
    color: #151515bb;
    font-family: "Jost", sans-serif;
    padding: 50px 20px;
}
.a
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 30px;
}
.options
{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 5px 0px;
    border-radius: 5px;
    background-color: #e5e8ef;
    font-size: 23px;
    font-weight: 600;
    color: #446d76;
}
a{
    text-decoration: none;
}
.bottom-foot
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-bottom: 63px;
    display: flex;
    justify-content:space-between;
}
.qanda
{
    background-color:#45d2a7 ;
    padding-left: 40px;
    padding-right: 40px;
}
.prev-butt
{
    
}
.next-butt
{
    
}
.bottom-butts
{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 23px;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #446d76;
    color: white;
}
.bottom-most-foot
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color:#446d76;
    height: 90px;
    font-size: 30px;
    font-weight: 600;
    color: black;
    font-family: "Jost", sans-serif;
}
.start-page
{
    padding-bottom: 86px;
}
.start-page h2
{
    line-height: 2;
}
.start-page p
{
    line-height: 2;
    color: #446d76;
    padding-bottom: 100px;
}
.to-be-disabled
{
    color: black;
    background-color: #446d76;
    color: white;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 20px;
}
.instructions h2
{
    margin-top: 0px;
}
.instructions ul
{
    color: #446d76;
    margin-top: 0px;
    line-height: 2.5;
    text-align: justify;
    margin-left: 150px;
    margin-bottom: 0px;
}
li div
{
    padding-left: 30px;
}
.instructions, .start-page, .Result
{
    padding-top: 40px;
    text-align: center;
    background-color: #45d2a7;
    font-size: 30px;
    font-weight: 600;
    color: #151515bb;
    font-family: "Jost", sans-serif;
}
.instructions
{
    padding-top: 20px;
    padding-bottom: 20px;
}
legend
{
    display: inline;
}
.confirmation a
{
    background-color: #45d2a7;
    color: #446d76;
    margin-left: 40px;
    padding: 5px 20px;
    border-radius: 15px;
    font-size: inherit;
    pointer-events: none;
    cursor: default;
    opacity: 0.7;
}
.confirmation
{
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}
.tot-mar
{
    width: 40px;
    border-top: 4px solid black;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.marks-obtained
{
    padding-top: 20px;
}
input[type="submit"]:hover, input[type="checkbox"]
{
    cursor: pointer;
}
input[type="checkbox"]
{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.out-of-oval
{
    background-color: #45d2a7;
    padding-bottom: 10.5vw;
}
.oval
{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 40px;

    border-radius: 50%;
    border: 4px solid black;
}
footer
{
    /* position: fixed; */
}

/* .q , .a , .bottom-foot
{
    padding-left: 40px;
    padding-right: 40px;
} */
@media screen and (max-width:1414px) {
    .instructions ul{
        margin-left: 50px;
    }
}
@media screen and (max-width:1312px) {
    .instructions ul{
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width:1264px) {
    .instructions ul{
        font-size: 25px;
        margin-left: 80px;
    }
    .confirmation
    {
        font-size: 25px;
    }
}
@media screen and (max-width: 1170px) {
    .instructions ul{
        margin-left: auto;
        margin-right: auto;
    }
    
}
@media screen and (max-width: 1000px){
    .start-page h2
    {
        margin-top: 0px;
        font-size: 40px;
        font-weight: 600;
        line-height: 2;
        font-family: 'Josh', sans-serif;
        color: #151515bb;
    }
    .start-page
    {
        padding-top: 160px;
        padding-bottom: 80px;
    }
    .start-page p
    {
        font-size: 25px;
    }
    .to-be-disabled
    {
        font-size: 20px;
    }
    .start-page p
    {
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 947px) {
    .start-page
        {
            padding-bottom: 100px;
             padding-top: 90px;
        }
    .instructions h2{
         font-size: 40px;
            }
        .a
        { 
            width: 100%;
        }
        .bottom-foot
        {
            width: 100%;
        }
}
  
    @media screen and (max-width: 772px) {
        .start-page
        {
            padding-top: 90px;
            padding-bottom: 130px;
        }
        .start-page h2
        {
            font-size: 35px;
        }
        .start-page p
        {
            font-size: 23px;
        }
        .instructions ul{
            text-align: left;
        }
        .instructions h2{
            font-size: 37px;
        }
        .q
        {
            font-size: 27px;
        }
        .bottom-most-foot
        {
            font-size: 27px;
        }
    }
    @media  screen and (max-width: 610px) {
        .start-page
        {
            padding-top: 75px;
            padding-bottom: 100px;
        }
        .instructions h2{
            font-size: 33px;
        }
        .instructions ul, .confirmation{
            font-size: 23px;
        }
        .prev-butt
        {
            margin-right: 10px;
        }
        .next-butt
        {
            margin-left: 10px;
        }
    }
    @media screen and (max-width: 539px) {
        .start-page p
        {
            padding-bottom: 20px;
        }
        .start-page
        {
            padding-top: 90px;
            padding-bottom: 115px;
        }
        ul div
        {
            padding-left: 0px;
        }
        .prev-butt
        {
            margin-left: 0px;
        }
        .next-butt
        {
            margin-right: 0px;
        }
        .q
        {
            font-size: 25px;
        }
        .bottom-most-foot
        {
            font-size: 25px;
        }
    }
    @media screen and (max-width: 537px) {
        .start-page p
        {
            padding-bottom: 20px;
        }
        .start-page
        {
            padding-top: 60px;
            padding-bottom: 75px;
        }
    }
    @media  screen and (max-width: 506px) {
        .start-page h2{
            font-size: 30px;
            margin-bottom: 30px;
        }
        .start-page p{
            font-size: 20px;
        }
        .start-page
        {
            padding-bottom: 160px;
            padding-top: 80px;
        }
    }
    @media screen and (max-width: 473px) {
        .start-page
        {
            padding-top: 80px;
            padding-bottom: 100px;
        }
    }
    @media screen and (max-width: 451px) {
        .start-page
        {
            padding-top: 50px;
            padding-bottom: 90px;
        }
    }
    @media screen and (max-width: 368px) {
        .start-page
        {
            padding-top: 30px;
            padding-bottom: 70px;
        }
        .start-page p{
            padding-bottom: 20px;
        }
    }
    @media screen and (max-width: 341px) {
        .start-page{
            padding-top: 35px;
            padding-bottom: 60px;
        }
        .start-page p{
            padding-bottom: 7px;
        }
        .start-page h2{
            margin-bottom: 10px;
            font-size: 28px;
        }
        
    }
